.container {
    
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    color: mediumslateblue;
  }
  
  .table {
    
    width: 100%;
    border-collapse: collapse;
    color: midnightblue;
  }
  
  .table th,
  .table td {

    padding: 8px;
    border: 1px solid darkblue;
  }
  
  .table th {
    background-color: lightblue;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: blue;
  }
  
  .table tbody tr:hover {
    background-color: gray;
  }