.navbar {
    
    background-color: green;
    color: orange;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    color: black;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: lightgreen;
}

.nav-menu li hr {
    border: 1px solid lightblue;
    margin-top: -5px;
}
